body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        font-family: sans-serif;
    }
}